ZibalMoheb/Connected Services/Moheb/StatementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://zibal.mellatmoheb.ir/ExternalServices/Account/StatementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KPP.Moheb.BusinessFacade.Services.Account.DTO" />
  <xs:element name="GetAccountTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNo" type="xs:long" />
        <xs:element minOccurs="0" name="rowSeqPerDay" type="xs:long" />
        <xs:element minOccurs="0" name="transactionDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KPP.Moheb.BusinessFacade.Services.Account.DTO" minOccurs="0" name="GetAccountTransactionResult" nillable="true" type="q1:AccountTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNoPerDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNo" type="xs:long" />
        <xs:element minOccurs="0" name="transactionDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNoPerDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KPP.Moheb.BusinessFacade.Services.Account.DTO" minOccurs="0" name="GetTransactionNoPerDayResult" nillable="true" type="q2:TransactionNoPerDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>